body
{
    background-color: rgba(89, 159, 206, 0.7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.home{

    border-radius: 30px;
    max-width: 95%;
    min-width:1200px;
    min-height: 95%;
    height: 100px;
    position: relative;
    background: linear-gradient(to right,rgb(54,144,212),rgb(61, 96, 203));
    overflow: hidden;
    display: flex;
}
.topimage{
    position: absolute;
    top: 25px;
    left:50px;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    
}
.topimage:hover{
    transform: rotate(360deg);
}
.navbar{
    border-radius: 30px;
    position: absolute;
    top: 30px;
    left:200px;
    margin-left: 100px;
    min-width: 50%;
    width:51%;
    background-color: aliceblue;
    
}   
.list{
    list-style-type:none;
    display: flex;
}
.list li{
    flex-shrink: 1;
    flex-grow: 1;
}
.navoption{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.list a{
    transition-duration: 0.25s;
}
.list a:hover{
    color: rgb(54,144,212);
   font-size: 25px;
}

.signin img{
    position: absolute;
    left: 85%;
    top: 40px;
}
.signin h3{
    position: absolute;
    left: 88%;
    top: 20px;
}
.signin a{
    color: black;
    text-decoration: none;
    transition-duration: 0.25s;
    
}
.signin a:hover{
    font-size: x-large;
    letter-spacing: 2px;
}
.mainpart img{
    flex-basis: auto;
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex 
}
.mainpart h1{
    position:absolute ;
    left: 5%;
    top: 20%;
    width: 300px;
    font-size: 60px;
    
}
.mainpart p{
    margin-top: 25px;
    position:absolute ;
    left: 5%;
    top: 39%;
    width: 300px;
}
.mainpart button{
    transition-duration: 0.5s;
    margin-top: 10px;
    border-style: none;
    color: aliceblue;
    padding: 13px;
    padding-left: 50px;
    padding-right: 50px;
    font-size:small;
    background-color: rgb(33, 32, 32);
    position:absolute ;
    left: 5%;
    top: 47%;
    border-radius: 20px;
}
button:hover{
    background-color: rgba(0,0,0,0.5);
    padding-left: 70px;
    padding-right: 70px;
}
.empty{
    
    position: absolute;
    top:85%;
    right: px;
    width: 2000px;;
    height: 250px;
    background-color: aliceblue;
}
.bottom_menu{
   
    position: absolute;
    top:80%;
    left:10%;
    background-color: aliceblue;
    width: 75%;
    height: 100px;
    padding-right: 6%;
    border-radius: 70px;
    box-shadow: 2px 3px 8px gray;
}
.bottom_menu ul{
    font-size: small;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}


.bottom_menu ul img{
    position: absolute;
    flex-shrink: 1;
    flex-grow: 1;
    width: 45px;
    height: 45px;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}
.img-1{
    background-color: rgba(176, 196, 222, 0.436);
    border-radius: 50%;
    padding: 9px;
}
.img0{
    background-color:rgba(134, 68, 134, 0.381);
    border-radius:50% ;
    padding:9px;
}
.img1{
    background-color: rgba(225, 164, 58, 0.529);
    border-radius:50%;
    padding:10px;
}
.img2{
    background-color: rgba(20, 230, 20, 0.405);
    border-radius:50%;
    padding:9px;
}
.img3{
    width: 20px;
    height: 20px;
    background-color: rgba(224, 92, 209, 0.359);
    border-radius:50%;
    padding: 9px;

}
.img4{
    background-color: rgba(231, 233, 118, 0.71);
    border-radius:50%;
    padding:9px;
}
.img5{
    background-color: rgba(93, 208, 181, 0.434);
    border-radius:50%;
    padding:9px;
}
.bottom_menu ul h3{
    position: absolute;
    top: 65%;
    flex-shrink: 1;
    flex-grow: 1;
}
.h3{
    padding-left: 20px;
}
.h31{
    padding-left: 10px;
}
.h36{
    padding-left: 8px;
}

.bottom_menu ul img:hover{
width: 55px;
height: 55px;
transform: translatey(-15px);
}


